**/*__pycache__
*.egg-info
*.ser
dev
dist
build
ivenv
venv
testingsitie.py
testingAB.py
testingimports.py
testingplots.py
testingdocs.py
testingconstants.py
docs_test
.pytest_cache
.DS_Store
**/*.DS_Store
todo.md
